@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

.lobby-header {
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: 'Rubik Scribble', sans-serif;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgb(52, 56, 61);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;

}

.choice_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.choice_button button {
  background: rgb(28, 30, 33);
  text-shadow: 2px 2px 4px rgb(65, 61, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  position: relative;
  padding: 20px 20px;
    text-align: center;
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 2vw;
    margin: 0 5px;
  width: auto;
    transition: background-color 0.3s ease;
}

.choice_button button:hover {
    background: rgb(42, 43, 47);
}

.lobby p {
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: 'Rubik Scribble', sans-serif;
    font-size: 2vw;
    text-shadow: 2px 2px 4px rgb(52, 56, 61);
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
}

.quit-button {
  background: rgb(28, 30, 33);
  text-shadow: 2px 2px 4px rgb(65, 61, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  position: absolute;
  padding: 20px 20px;
    text-align: center;
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 2vw;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.restart-button{
    background: rgb(28, 30, 33);
  text-shadow: 2px 2px 4px rgb(65, 61, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  position: absolute;
  padding: 20px 20px;
    text-align: center;
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 2vw;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.restart-button button:hover {
    background: rgb(42, 43, 47);
}

.quit-button button:hover {
    background: rgb(42, 43, 47);
}

.timer {
    position: absolute;
    margin: 500px 0 0 0;
}
