@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

.duck-h1 {
    background-image: url("../images/duck.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu{
    position: absolute;
    left: 5%;
    text-align: left;
    height: 95%;
    width: 50%;
}

.menu .game-h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: 'Rubik Scribble', sans-serif;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgb(52, 56, 61);
    width: 20%;
    height: 10%;
    text-align: left;
}

.menu .game-btn {
    position: absolute;
    background: rgb(28, 30, 33);
    text-shadow: 2px 2px 4px rgb(65, 61, 80);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 58px;
    outline: none;
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 700;
    top: 90%;
}

.game-btn:hover {
    color: rgb(22, 61, 73);
    text-shadow: 0 0 15px rgb(31, 83, 100);
}

.stats-section {
    margin-top: 30px;
}

.user-in-queue-container {
    position: relative;
    text-align: center;
}

.user-in-queue-text {
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 4px rgb(65, 61, 80);
    color: rgb(255, 255, 255);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.queue-length {
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 4px rgb(65, 61, 80);
    color: rgb(255, 255, 255);
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-card {
    background-color: rgba(28, 30, 33, 0.5);
    border: 1px solid #000000;
    color: rgb(168, 174, 175);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 40%;

}

.user-card h2 {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
}

.user-card p {
    margin: 10px 0;
    font-size: 32px;
    outline: none;
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 700;
}

.top-players {
    background-color: rgba(28, 30, 33, 0.5);
    border: 1px solid #000000;
    color: rgb(168, 174, 175);
    border-radius: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    position: fixed;
    top: 50%;
    right: 15%;
    transform: translate(50%, -50%);
}

.top-players p {
    margin: 10px 0;
    font-size: 40px;
    outline: none;
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 700;
}