@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body {
    background: rgb(52, 56, 61);
}


.register-wrapper {
    position: absolute;
    width: 640px;
    left: 50%;
    margin-left: -320px;
    top: 50%;
    margin-top: -150px;
}

/* === Register Form === */
.register-form {
    height: 180px;
    width: 600px;
    border-radius: 16px;
    position: relative;
}

.register-h1 {
    color: rgb(111, 119, 135);
    position: relative;
    font-size: 32px;
}

.register-form::before {
    display: block;
    position: relative;
    height: 4px;
    background: rgb(52, 56, 61);
    content: '';
    top: 88px;
    margin-left: 40px;
    z-index: 1;
}

.register-form input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.register-form input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form button[type="submit"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -200px -200px 0 rgb(28, 30, 33);
    color: rgb(111, 119, 135);
    font-size: 20px;
}


.register-form input[type="text"],
.register-form input[type="password"] {
    position: relative;
    display: block;
    width: 560px;
    height: 90px;
    border: 0;
    outline: 0;
    top: -4px;
    padding: 0 0 0 40px;
    font-weight: 700;
}

.register-form input[type="text"]:focus,
.register-form input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

.register-form button[type="submit"] {
    display: block;
    position: absolute;
    width: 104px;
    height: 104px;
    color: rgb(52, 56, 61);
    border-radius: 100px;
    outline: 0;
    z-index: 2;
    top: 38px;
    right: -48px;
    border: 12px solid rgb(52, 56, 61);
    font-size: 50px;
    text-indent: 0;
    padding-left: 18px;
    padding-bottom: 6px;
    text-align: center;
}

.register-form button[type="submit"]:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

.register-form p {
    color: rgb(79, 85, 97);
    padding: 0 40px;
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0 0 0;
    text-align: center;
}

.register-form p > a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

.register-form p > a:hover {
    border-bottom: 1px solid;
}
